* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(img/image5.jpeg) no-repeat center center/cover;
  height: 100vh;
}

.title {
  font-size: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
  color: rgb(54, 54, 177);
  text-align: center;
  padding: 10px;
}
.image {
  display: flex;
  justify-content: center;
  margin-top: 15vh;
}

img {
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
}

.come-back {
  display: flex;
  justify-content: center;
  margin-top: 15vh;
}
